* {
  font-family: "Roboto", sans-serif;
  /* scroll-behavior: ... */
}

.navbar-custom {
  height: 100px;
}

.footer-custom {
  height: 100px;
  display: flex;
  align-items: center;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

#left-photo {
  background: url("./images/food-prepare-left.jpg");
  height: 300px;
  background-position: center center;
}

#center-photo {
  background: url("./images/food-prepare-center.jpg");
  height: 300px;
  background-position: center;
  background-size: cover;
}

#right-photo {
  background: url("./images/food-prepare-right.jpg");
  height: 300px;
  background-position: center center;
}

.fa {
  padding: 20px;
  font-size: 55px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
