* {
    font-family: "Roboto", sans-serif;
}

.navbar-custom {
    height: 100px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.h-100 {
    height: 100%!important;
}


/* Recipe style */

.title1 {
    font-size: 20px;
}

.title1:link,
.title1:visited {
    text-decoration: none;
    color: black;
}

.title1:hover {
    color: rgb(143, 181, 110);
}

.btn-primary.custom-btn {
    background-color: rgb(130, 140, 131);
}